<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/customer_details"><i class="fas fa-angle-double-left"></i> All Customer</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Customer</h2>
            <span class="text-light">Use the below form to Update an account</span>
        </div>
        <form method="POST" id="update_customer">
            <div class="new_customer">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%= customer._id %>">
                    <input type="text" name="name" value="<%= customer.name %>" placeholder="Customer Name">
                </div>
                <div class="form-group">
                    <label for="email" class="text-light">Email</label>
                    <input type="text" name="email" value="<%= customer.email%>" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <label for="photo" class="text-light">Photo of Receipt</label>
                    <input type="text" name="photo" value="<%= customer.photo %>" placeholder="">
                </div>
        
                <div class="form-group">
                    <label for="date" class="text-light">Start date of Coverage</label>
                    <input type="text" name="date" value="<%= customer.date%>" placeholder="01/07/2023">
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
        </form>
               
            </div>
</main>

<%- include('partials/_footer') %>